body {
    background-image: url("./assets/homeBg.avif");
    background-size: cover;
}

.footer {
    background-color: aliceblue;


}

.de {
    padding: 0;
}


img {
    margin: 5px;
    border: 1px;
    padding: 3px;
    width: 3000px;
    max-height: 200px;
}

.about {
    font-weight: 600;
}

.aboutContent {
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 2px;
    padding-right: 5px;
}